<mat-card
  class="p-4"
  [ngStyle]="{ 'flex-direction': fullWidthMode ? 'row' : undefined }"
  [ngClass]="{ 'text-center': !fullWidthMode }"
>
  <div [ngClass]="{ flex: fullWidthMode }">
    <img
      class="mb-1 mx-auto"
      [ngClass]="{ 'h-200px': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      src="https://via.placeholder.com/150"
    />
  </div>
  <div
    class="w-full"
    [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
  >
    <div *ngIf="product">
      <h5>{{product.title}}</h5>
      <p class="truncate hover:whitespace-normal">{{product.category}}</p>
      <p>{{product.description}}</p>
      <div class="flex justify-between">
        <span class="text-red-400"> {{ product.price | currency }}</span>
        <button (click)="onAddToCart()">
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
